.heading-image {
    height: 250px;
    width: 550px;
    padding-top: 20px;
}

.container {
    padding-top: 60px;
    text-align: left;
}

.entry-description {
    color: grey;
    font-size: 20px;
}