<!--The content below is only a placeholder and can be replaced.-->
<div>
  <h1 class="sitetitle blog-header" style="text-align:center">
    <a class="black" routerLink="/home" routerLinkActive="active">
      {{title}}
    </a>
  </h1>
  <hr width="80%">
  <div class="container">

    <div class="row">

      <!-- Blog Entries Column -->
      <div class="col-md-8">
        <router-outlet></router-outlet>
      </div>

      <!-- Sidebar Widgets Column -->
      <div class="col-md-4">
        <side-widgets></side-widgets>
      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->
</div>