<div class="card my-4">
  <h5 class="card-header">New Post</h5>
  <div class="card-body">
    <form>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Title..." [(ngModel)]="entry.title" [ngModelOptions]="{standalone: true}">
      </div>
      <div class="form-group">
        <textarea class="form-control" placeholder="Description..." [(ngModel)]="entry.description" [ngModelOptions]="{standalone: true}"></textarea>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Image Url..." [(ngModel)]="entry.headingImage" [ngModelOptions]="{standalone: true}">
      </div>
      <div class="form-group" *ngIf="entry.headingImage">
        <img style="max-width: 600px; max-height:900px;" src="{{entry.headingImage}}">
      </div>
    </form>
  </div>
</div>
<ckeditor [(ngModel)]="entry.body" [readonly]="false" debounce="500">
</ckeditor>
<div class="card my-4">
  <h5 class="card-header">Preview</h5>
  <div class="card-body" [innerHTML]="entry.body | safeHtml">
  </div>
</div>
<div>
  <button *ngIf="entry.valid" class="btn btn-primary right" (click)="save()">Submit</button>
</div>